/* General Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header Styles */
header {
  background: linear-gradient();
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  display: flex;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 20px 60px;
  margin: 0;
  color: #0077cc;
  display: flex;
}

h1 span {
  font-size: 13px;
  display: flex;
  margin-top: 21px;
  margin-left: 5px;
  color: black;
  font-style: italic;
  color: gray;
  font-weight: 100;
}

header nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

/* Main Content Styles */
main {
  padding-top: 88px;
}

section {
  padding: 50px;
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

#hero {
  width: 100%;
  height: 500px;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 0 20%,
      rgba(255, 255, 255, 0)
    ),
    url("img/pexels-eren-li-7241628.jpg") center center/cover;
}

#hero .text-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#hero .text-overlay .text-container {
  max-width: 700px;
  height: auto;
  margin-left: 40px;
  background-color: #0077cc;
  opacity: 0.8;
  padding: 10px;
  border-radius: 3px;
}

#hero .text-overlay .text-container h2,
#hero .text-overlay .text-container p {
  font-style: italic;
  color: white;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

section ul {
  margin-bottom: 20px;
}

section li {
  margin-bottom: 10px;
}

section img {
  max-width: 100%;
}

section#services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#services h2 {
  color: #0077cc;
  font-size: 15px;
  margin-bottom: 40px;
}

section#services h1 {
  margin-bottom: 15px;
}

section#services .services-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 30px;
}

section#services .services-container .service-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#services .services-container .service-box .service-icon {
  width: 80px;
  height: 80px;
  background-color: #0077cc;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

section#services .services-container .service-box .service-icon img {
  width: 40px;
  height: auto;
}

section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#contact .contact-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

section#contact .contact-info-container .contact-info {
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

section#contact .contact-info-container .contact-info .contact-icon {
  width: 30px;
  height: auto;
  margin-bottom: 10px;
}

section#contact .contact-info-container .contact-info .info {
  color: #333;
  text-align: center;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #005ea6;
}

/* Testimonials Styles */
blockquote {
  font-style: italic;
  margin-bottom: 20px;
}

blockquote cite {
  font-weight: bold;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }

  header nav {
    justify-content: center;
  }

  header h1 {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 0;
  }

  h1 span {
    margin-top: 5px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  nav li {
    margin: 0;
    text-align: center;
    border-top: 1px solid lightgray;
  }

  main {
    padding-top: 200px;
  }

  #hero {
    height: 350px;
  }

  #hero .text-overlay {
    justify-content: center;
  }

  #hero .text-overlay .text-container {
    margin: 0 20px;
  }

  #hero .text-overlay .text-container h2 {
    font-size: 20px;
  }

  #hero .text-overlay .text-container p {
    font-size: 15px;
  }

  section#services h1 {
    text-align: center;
    font-size: 20px;
  }

  section#services h2 {
    font-size: 11px;
    margin-bottom: 10px;
  }

  section#services .services-container {
    flex-direction: column;
  }

  section#services .services-container .service-box {
    padding: 20px 0;
  }

  section#contact .contact-info-container {
    flex-direction: column;
    align-items: center;
  }

  section#contact .contact-info-container .contact-info {
    width: 100%;
    padding: 15px 50px;
  }
}
